# ---- Python ----
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ---- Virtualenv ----
venv/
env/
.env

# ---- Django ----
*.log
db.sqlite3
media/
staticfiles/

# ---- IDEs ----
.vscode/
.idea/

# ---- OS ----
.DS_Store
Thumbs.db

# ---- Docker ----
docker-compose.override.yml
*.pid
*.log
